# Django settings
SECRET_KEY="ultra_secure_secret_key_don't_give_it_to_anyone"
DEBUG=True # DO NOT LEAVE IT ON TRUE DURING PRODUCTION

# DB details
# We are using postgres currently, you can change what's on your local if you want to
DB_ENGINE=django.db.backends.postgresql 
DB_NAME=learnlab_platform_db 
DB_USER=postgres
# also an example
DB_PASSWORD=example_password
DB_HOST=localhost # this is the postgres default
DB_PORT=5432 # this is also the postgres default
