venv/
.venv/
.vscode/
__pycache__/
*.pyc
.env
.agent*
.kilocode
skills-lock.*
venv
*.sqlite3
*.log
.env.example

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

frontEnd/node_modules/
frontEnd/dist/
frontEnd/.env
frontEnd/.env.local

# Python
staticfiles/

