SECRET_KEY=b02lamfxbll)fhybp$p@@uz^ga=$$3aq*dy6g^&!5x1599pf5*
DEBUG=True
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=learnlab
# DB_USER=your_user
# DB_PASSWORD=your_password
# DB_HOST=localhost
# DB_PORT=5432
